* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 20px;
    /* box-shadow: 20px; */
}

.container {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

}

.player-container > div:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-container img {
    max-width: 100%;
    
}

.name {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.player-info {
    width: calc(50% - 6px);   
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 12px; 

}

.player-info img {
    width: 18px;
    height: 18px;
  
}

.player-info span {
    font-size: 14px;
}

.btn {
    width: 100%;
    max-width: 310px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.partner {
    font-size: 20px;
    margin-top: 10px;
   background-color: #2f4f5a;
   border-radius: 5px;
   padding: 20px;
  
}

.partner h3 {
    margin-bottom: 20px;
    color: #f2f2f2;
    margin-top: 20px;

}

.partner p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #f2f2f2;
}

.partners-logos { 
    display: flex;               
    align-items: center;         
    flex-wrap: wrap;             
    gap: 20px;                   
    padding: 20px;
    color: #f2f2f2;
}

.partners-logos .logo-box
 {
    display: flex;
    justify-content: space-around;
    border: 0.5px solid black;
    padding: 20px;
    border-radius: 10px;
    color: black;
    background-color: #f2f2f2;
    width: 115px; 
}

.footer {
    font-size: 20px;
    padding: 20px;
}

.footer-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.copy {
    font-size: 15px;
    margin-bottom: 20px;
}

.footer-links {
    margin-top: 20px;
}

.footer-links h4 {
    margin-bottom: 20px;
}

.footer-links a {
    display: block;
    margin-top: 20px;
    color: black;
    margin: 15px 0;
    text-decoration: none;
    font-weight: 300;
    color: #555;
    font-size: 15px; 
}


