*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: black;
}

.input-grp {
    margin: 20px 0;
    position: relative;
}

.input-grp label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    color: rgb(218,223,223);
    padding: 0 5px;
    transition: 0.5s;

}

.input-grp input {
    width: 360px;
    height: 62px;
    color: white;
    font-size: 16px;
    padding: 0 5px;
    background: transparent;
    border: 2.1px solid rgb(220, 223, 223);
    border-radius: 5px;
    outline: none;

}

.input-grp input:focus~label, 
.input-grp input:valid~label
{
    top: 0;
    background-color: black;
    font-size: 14px;

}


























