* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.inline {
    display: inline;
    background-color: lightblue;
    font-size: 10px;
    font-weight: bold;
    padding: 6px;
    margin: 10px;
}

.inlineblock {
    display: inline-block;
    width: 120px;
    height: 60px;
    background-color: blue;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

.block {
    display: block;
    width: 100%;
    background-color: yellow;
    color: red;
    padding: 15px;
    margin-top: 10px;
}

.none {
    display: none;
}

.inherit {
    color: red; /*inherit property of the parent element*/
    width: 500px; /*not inherit because it is a box model*/
}

.unset {
    font-weight: unset; /*font-weight will take the default property because is unset*/
    background-color: yellow;

}

.revert {
    color: revert; /*color will take the default browser color black*/
    font-size: 15px;
}

img {
    float: right;
    width: 300px;

}

:root {
    --main-font-size: 20px;
    --color:Orange;
    --font-weight: 700;

}


#RGB {
    color: rgb(255,0,0);
    font-weight: var(--font-weight);
}

.RGBA{
    color: rgba(10,5,255,0.5);
    font-size: var(--main-font-size);
}

.HEX{
    color: #aaffee;
}

.HSL{
    color: hsla(0, 51%, 20%, 0.933);
}

p {
    color: var(--color);
    font-weight: var(--font-weight);
    font-size: var(--main-font-size);
}